body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'HanziPen SC' ,'TsukuARdGothic-Regular' !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(222, 222, 193);
  color:#555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
